.image{
    height: 9rem;
    margin-left: -12px;
    margin-top: 1px;
    padding-bottom: 5px;
}

.headerr{
    background-color: rgb(113, 81, 113);
    height: 140px;
}

.headerr-2{
    height: 30px;
}

.header-words{
    color: white;
    text-decoration: none;
}

.header-words:hover{
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size:larger;
}
